@font-face {
  font-family: "work-sans-regular";
  src: url(./assets/fonts/static/WorkSans-Regular.ttf);
}

@font-face {
  font-family: "work-sans-semi-bold";
  src: url(./assets/fonts/static/WorkSans-SemiBold.ttf);
}

@font-face {
  font-family: "work-sans-bold";
  src: url(./assets/fonts/static/WorkSans-Bold.ttf);
}

:root {
  --clr-primary-white: hsl(0, 0%, 100%);
  --clr-primary-Light-pink: hsl(275, 100%, 97%);
  --clr-primary-Grayish-purple: hsl(292, 16%, 49%);
  --clr-primary-Dark-purple: hsl(292, 42%, 14%);

  --ff-regular:work-sans-regular ;
  --ff-semi-bold:work-sans-semi-bold ;
  --ff-bold: work-sans-bold;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

img,
picture,
video,
canvas{
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#__next {
  isolation: isolate;
}

#root{
  background-color: var(--clr-primary-Light-pink);
  background-image: url(./assets/images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: var(--ff-bold);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: grid;
  place-content: center; */
}

button{
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  padding: 1rem 0;
  font-size: 1.1rem;
  font-weight: var(--ff-semi-bold);
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: 0;
}

button:hover{
  color: purple;
}

.main-container{
  width: 50%;
  background-color: var(--clr-primary-white);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  
}

.header{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.header h1{
  font-size: 4rem;
  font-weight: bold;
}

.item-wrapper .accordion-item:not(:last-child){
  border-bottom: 2px solid var(--clr-primary-Light-pink);
}

.accordion-item .icons-item img{
   min-width: 30px;
}

.accordion-description{
  background-color: var(--clr-primary-white);
  max-height: 0;
  overflow: hidden ;
  transition: max-height 200ms ease;
}

.accordion-description p{
  color: var(--clr-primary-Grayish-purple);
  padding: 1rem 0;
}

.active{
  background-color: var(--clr-primary-white);
  max-height: 100px;
  overflow: hidden ;
  transition: max-height 200ms ease;
}

@media (max-width: 540px){
  #root{
    background-image: url(./assets/images/background-pattern-mobile.svg);
  }
}